@font-face {
  font-family: Bebas-Kai;
  src: url("fonts/bebas_kai/BebasKai.otf") format("otf"),
       url("fonts/bebas_kai/BebasKai.ttf") format("ttf"),
       url("fonts/bebas_kai/BebasKai.woff") format("woff"),
       url("fonts/bebas_kai/BebasKai.woff2") format("woff2");
}


body{
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 110vh;
  margin: 0;
}

main{
  width: 100%;
  background: rgb(255, 255, 255) fixed;
  font-family: Verdana, sans-serif;
}

header{
  z-index: 10;
  box-sizing: border-box;
  position: sticky;
  width: 100vw;
  height: 5rem;
  background-color: rgb(0, 0, 145);
  font-family: Bebas-Kai, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

header h1{
  padding: 1.75rem;

}

section{
  align-items: center;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

article{
  padding: 1rem;
}

#content{
  z-index: 2;
  overflow-y: scroll;
  position: relative;
  width: 70vw;
  height: 85vh;
  left: 15%;
  right: 15%;
  background-image: linear-gradient(rgb(0, 0, 145), rgb(145, 0, 0));

}

#content article img{
  width: 100%;
}

footer{
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 5rem;
  background-color: rgb(145, 0, 0);
  font-family: Bebas-Kai, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

#ftr-left{
  flex: 1;
  width: 50vw;

}

#ftr-right{
  width: 50vw;
}